.contenedor {
max-width: 50%;
margin: 0 auto;
}

.borde {
border-bottom: solid 3px;
color: rgb(71, 109, 73);
padding-bottom: 15px;
}

.imagenesPelis {
    display: flex;
    gap: 20px;
}

.nombrePelis {
    display: flex;
    gap: 130px;
    text-align: center;
}

#aboutMe p{
    color: black;
}

#aboutMe h2 {
    background-color: rgb(41, 192, 192);
    color: azure;
}